const config = {
  HELLOFRESH_CLIENT_ID: 'HELLOFRESH_CLIENT_ID',
  HELLOFRESH_CLIENT_SECRET: 'HELLOFRESH_CLIENT_SECRET',
  HELLOFRESH_ACCESS_TOKEN: 'HELLOFRESH_ACCESS_TOKEN'
};

export default config;
